[2019-02-03 23:04] apjanke opened #1 "Add execution time to results summary"
Include a "tests run in MM:SS" timing line in the result summary. This will make it easy to see if changes I'm introducing are slowing down the tests significantly.

[2019-02-05 12:47] apjanke opened #2 "Convert __test_pkgs__ helptext to texinfo"
It's Matlab-style helptext now. Change it over.

[2019-02-05 12:48] apjanke commented on #1
Done in https://github.com/apjanke/octave-testify/commit/8f1d038ff4eace49cb1ffba2ce4003105165cdcf.

[2019-02-05 12:48] #1 closed, assigned to apjanke

[2019-02-05 13:01] apjanke opened #3 "Summary output at end of __test_pkgs__"
Have `__test_pkgs__` output a failure summary at the end of the run like my `__run_test_suite__` does. It should list each file that had failing tests, and indicate which package they came from.

[2019-02-05 13:12] apjanke opened #4 "Change `make dist` to work on current local changes instead of last commit"

[2019-03-05 07:58] apjanke opened #5 "Matlab/xUnit unit test framework clone"
Maybe this package should implement a clone of [Matlab's xUnit-based unit test framework](https://www.mathworks.com/help/matlab/matlab-unit-test-framework.html) after all?

If you're a potential user and interested in having this, add a comment on this issue to indicate your interest.

[2019-03-05 09:54] kupiqu commented on #5
+1

[2019-03-06 03:35] cbm755 opened #6 "Octave dev install from URL 'file_idx' undefined"
Octave dev tip:
[code]

[2019-03-06 03:36] cbm755 opened #7 "runtests fails with error: 'isfolder' undefined"
[code]

Tested on both Octave 4.2.1 and Octave dev tip (6.0).

This is 0.1.0, haven't tried master yet...

[2019-03-06 06:16] cbm755 opened #8 "tighter use of try, catch"
Something I dislike about Octave's `__run_test_suite__` is that failures in its own code don't necessarily raise errors.

Here's a bug I just found where there is an error in the code but its not raised b/c (I guess) the unwind protect stuff: ~~https://savannah.gnu.org/bugs/index.php?55838~~

Update: I guess I meant https://savannah.gnu.org/bugs/?55841?

See also
https://github.com/apjanke/octave-

[2019-03-06 06:31] cbm755 opened #11 "feature request: runtests recurses into directories"
I'd like to see `runtests` be the main driver.  A start would be having it recurse into directories by default.

[2019-03-06 06:36] cbm755 opened #12 "feature request: `runtests @class`"
I'd like to see `runtests` be the main driver.  So `runtests @myclass` would run the tests in class `@myclass`.

Consider looking at Doctest:
https://github.com/catch22/octave-doctest/blob/master/inst/doctest.m
There we wanted `doctest thing` to DTRT:
  * `doctest my_fcn` works
  * `doctest @klass` works
  * `doctest octfile.oct` works (and is subtly different than `doctest octfile`.
  * `doctest

[2019-03-06 17:11] mtmiller commented on #12
Why not `test @myclass`?

[2019-03-06 17:11] mtmiller commented on #11
:+1:, but why not `test dir`?

[2019-03-06 17:20] mtmiller commented on #6
Same, reported upstream [#55843](https://savannah.gnu.org/bugs/?55843).

[2019-03-06 17:34] cbm755 commented on #7
Same on master branch

[2019-03-10 06:14] cbm755 commented on #12
A few years ago, I posted some patches to do some of this:

https://savannah.gnu.org/patch/?9220

Feel free to cherry pick if these still apply.

[2019-03-12 03:12] mtmiller commented on #12
Is there a reason why `@`-sign would be required or preferable for this? Or would `test myclass` be sufficient?

[2019-03-12 05:08] cbm755 commented on #12
Good question...  doctest seems to usually do the same thing for `doctest @myclass` and `doctest myclass`..., although I checked the code and their are some subtleties, e.g., `doctest @logical` (Symbolic has `@logical/isAlways`) methods and `doctest logical` (the `builtin`)

[code]

I think the same distinction could apply for `#!` BISTs.

[2019-03-14 08:35] mtmiller opened #13 "feature request: progress indicator for long running tests"
Whether it's `test` or `runtests`, whatever the porcelain function will be that runs a sequence of tests.

Currently, if one particular file has hundreds of test cases or test cases that take time, the user sees

      foo.m .......................................................

followed by some unknown time span, finally followed by

      foo.m .................................................

[2019-03-14 08:42] mtmiller opened #14 "feature request: option to shuffle test sequencing"
For all normal uses, tests should be executed in a deterministic order. But sometimes it may be helpful to shuffle the test order to expose dependencies between tests.

I've found this useful in the past, and done this manually by constructing ad hoc lists of files to test or by hacking the test driver to skip or reorder certain problematic tests by file name. At the time thought it would be reall

[2019-03-14 08:46] mtmiller opened #15 "feature request: option to save workspace on test failure"
Often tests that process random data fail on corner cases. I've found it very helpful in the past to hack a `save` command into `__run_test_suite__` on test failures so I can reproduce the failure with the exact data that caused it.

[2019-03-15 02:41] cbm755 commented on #7
Maybe my Octave is too old, I saw this warning when using 6.0.0:
[code]
So I'm guessing this works fine with dev Octave: is that intended?  Maybe this needs `Depends: octave (>= 6.0.0)` (or whatever the minimum is) in the DESCRIPTION file?

[2019-03-16 15:06] apjanke opened #16 "Feature: install and test all Forge packages"
Add a feature that will install and test all Octave Forge packages, producing a report on failures.

To help with the effort at http://lists.gnu.org/archive/html/octave-maintainers/2019-03/msg00096.html.

[2019-03-16 17:02] apjanke commented on #16
TODO: Include the package version in the log output.

[2019-03-16 17:03] apjanke commented on #16
Work is in progress on branch
https://github.com/apjanke/octave-testify/tree/octave-forge-package-tester

[2019-03-16 19:02] apjanke opened #17 "forgepkgtester: handle deps by ordering packages instead of re-installing each time"
Right now, I'm handling dependencies by individually reinstalling the dependencies for each package when I install and test it. This is inefficient. It would be better to handle dependencies by collecting the entire dependency graph for all tested packages at the beginning, installing the non-tested dependencies up front, and then reordering the tested packages so that they were installed in depen

[2019-03-16 19:10] apjanke commented on #17
Note: To do this, we need an `order_deps (pkgs)` function that calculates a package install order for both the listed packages and other dependency packages. Both the packages and the dependency packages must be sorted in dependency order. When doing the prereq/dependency installation, we'll need to install these packages individually and track which ones failed, so we can individually fail per-pa

[2019-03-16 19:19] apjanke opened #18 "forgepkgtester: capture package build logs"
The full output of `pkg install`'s `configure` and `make` steps is not captured by `diary`. For example, all the compiler warnings for `pkg install -forge control` are not captured; neither are the compiler errors for `struct`.

It'd be nice if we could capture these logs somehow. Ideally, as separate files for each package.

Doing this will require writing a replacement for `pkg install`, since i

[2019-03-16 19:35] apjanke opened #19 "forgepkgtester: use doctest"
Use the `doctest` package to test all the Forge packages, in addition to Testify's own `__test_pkgs__`.

References:
* http://lists.gnu.org/archive/html/octave-maintainers/2015-07/msg00088.html
* http://lists.gnu.org/archive/html/octave-maintainers/2019-03/msg00024.html

[2019-03-16 19:41] apjanke opened #20 "forgepkgtester: note file droppings in pwd"
Run the whole test suite in a temporary directory so we can detect and report file droppings left there by the installs and tests.

[2019-03-16 19:52] apjanke opened #21 "forgepkgtester: have Ctrl-C do an early-end and still print results"
Ctrl-C just abandons the test, with no results output. It would be nice if we could have it do an early-end instead, having it note the abort and still print the result summary.

[2019-03-16 20:04] apjanke commented on #16
Okay, we're getting somewhere. Here's example log output for it in its current state.

[octave-testify-ForgePkgTester-2019-03-16_15-24-48.zip](https://github.com/apjanke/octave-testify/files/2974444/octave-testify-ForgePkgTester-2019-03-16_15-24-48.zip)

[2019-03-16 20:24] apjanke commented on #21
Maybe I could do this the quick-and-dirty way by just putting the results output in an `unwind_protect`.

[2019-03-16 20:26] apjanke commented on #20
Done in https://github.com/apjanke/octave-testify/commit/5a579dcf2fca9831cebe67a585a2b408043e472d.

[2019-03-16 20:26] #20 closed, assigned to apjanke

[2019-03-16 20:27] apjanke commented on #18
Bleh. pkg's `install` function is 800 lines long. That's a lot to copy.

[2019-03-16 20:31] apjanke commented on #18
Oh. I could just compartmentalize that in a `ForgePkgInstaller` class with local functions.

[2019-03-16 20:36] apjanke commented on #21
Ha ha ha. Yep. I just moved the results output into the `unwind_protect_cleanup` block. Done in https://github.com/apjanke/octave-testify/commit/2333a6b9a8fa3085e0dc5c65e2b08c8aa7305f4c.

[2019-03-16 20:36] #21 closed, assigned to apjanke

[2019-03-16 21:11] apjanke opened #22 "forgepkgtester: make classes `+internal`"
Most of these classes are internal implementation details. Move them to `+testify/+internal`.

[2019-03-16 22:19] apjanke commented on #18
I've got something kinda working. But for some reason, some packages' configure and make output goes to the Command Window instead of being captured in the logs.

[code]

Same with package `struct`:

[code]

[2019-03-16 22:27] apjanke commented on #18
Ah. I'm grabbing the install logs from successful package installs, but not from failed ones. See if there's a way to do that. It'll require changing `error(...)` calls inside my `pkg install` replacement to returning error result objects.

[2019-03-16 22:44] apjanke commented on #18
Also, the build logs from installing dependencies are still going to the console. (Because I'm using regular `pkg install -forge <packages>` for them.) It'd be nice if those were suppressed; they're not the focus of testing at the point where they happen.

[2019-03-16 22:47] apjanke commented on #18
Got a start on this: https://github.com/apjanke/octave-testify/commit/23ebb455f7bcd7a55b739df49548afe3442834fd.

Example output: [octave-testify-ForgePkgTester-2019-03-16_18-03-00.zip](https://github.com/apjanke/octave-testify/files/2974572/octave-testify-ForgePkgTester-2019-03-16_18-03-00.zip)

[2019-03-16 23:11] apjanke commented on #18
Maybe I can suppress the console output for dependency compilation with a verbose=false input to `pkg install`.

[2019-03-16 23:13] apjanke commented on #18
Okay, capturing build logs for failed installs wasn't so bad: https://github.com/apjanke/octave-testify/commit/a0b20ed36be27d01125786b8b3760839ea9a8f69

Example output: [octave-testify-ForgePkgTester-2019-03-16_19-09-04.zip](https://github.com/apjanke/octave-testify/files/2974587/octave-testify-ForgePkgTester-2019-03-16_19-09-04.zip)

[2019-03-16 23:19] apjanke commented on #18
Hmm, no; there's no verbose=false option; just a `-verbose` flag. I need to look into the source some more to see where that output is coming from.

[2019-03-16 23:20] apjanke commented on #18
Ehh, it's buried way down in there. Save this for a bigger refactor.

[2019-03-16 23:20] apjanke commented on #18
Okay, build log capturing is working. Closing as done.

[2019-03-16 23:20] #18 closed, assigned to apjanke

[2019-03-16 23:31] apjanke commented on #22
Done in https://github.com/apjanke/octave-testify/commit/328066e87d67441b5f4eb11fed0e13b9c9606af3.

[2019-03-16 23:31] #22 closed, assigned to apjanke

[2019-03-17 00:24] apjanke commented on #19
Added in https://github.com/apjanke/octave-testify/commit/2ed763f77a6f13ba95995103469e311558e6087d.

It's not working for a bunch of packages. Lots of them are erroring in the tests with `testify.ForgePkgTester: Error while testing package geometry: 'is_octave' undefined near line 19 column 5`. `is_octave` is a private function in the `doctest` package. Not sure what's going on there.

[2019-03-17 00:24] #19 closed, assigned to apjanke

[2019-03-17 00:56] apjanke opened #23 "forge tester: Test on Linux and Windows"
I've done all the development on macOS. It'd be a shame if it was borked for some dumb reason on macOS or Windows, which is what most of the developers use. Test it on those platforms before presenting to the mailing list.

[2019-03-17 01:04] apjanke opened #24 "forge tester: one-line `pkg unload` command"
See if `pkg unload` can take multiple packages in a single invocation, to make the logs more concise.

[2019-03-17 01:06] apjanke commented on #23
Make sure to test it using the `pkg install <github-repo-url>` instead of a local repo checkout, too, since that's what other devs will be using.

[2019-03-17 01:09] apjanke commented on #16
Doing better. We're capturing build logs for both successful and failed installations.

Example output: [octave-testify-ForgePkgTester-2019-03-16_20-26-10.zip](https://github.com/apjanke/octave-testify/files/2974659/octave-testify-ForgePkgTester-2019-03-16_20-26-10.zip)

The full run takes about 40 minutes and produces 9,000 lines of log output.

[2019-03-17 01:10] apjanke commented on #24
Yep. `pkg load` and `pkg unload` can both take multiple arguments.

[code]

[2019-03-17 01:17] apjanke commented on #24
Done in https://github.com/apjanke/octave-testify/commit/848dc0f704304e0defb6793436cfd2f76491985f.

[2019-03-17 01:17] #24 closed, assigned to apjanke

[2019-03-17 01:18] apjanke commented on #16
Merged to `master`, so it can be tested using `pkg install <github-repo-url>`.

[2019-03-17 01:32] apjanke opened #25 "forge tester: `hostname` command not found when running under flatpak"
`hostname` doesn't work when run from a Flatpak-installed Octave.

WTF?

[code]

[2019-03-17 01:32] #25 closed, assigned to apjanke

[2019-03-17 01:36] apjanke commented on #23
Well, darn. On Linux, the [Flatpak sandboxing seems to make the temp directory not visible](https://github.com/apjanke/octave-testify/issues/26) in the main filesystem, so the result log files are not readily visible.

[2019-03-17 01:37] apjanke opened #26 "forge tester: Flatpak sandboxing hides results files"
The results files for this go into `/tmp/<whatever>`. But in a Flatpak-installed Octave, it seems like the filesystem is sandboxed/virtualized and that `/tmp` is redirected.

[code]

But:

[code]

Figure out a good way to expose these result files under Flatpak on Linux. We need Flatpak support because that seems to be the only good way to install a recent Octave on Linux.

References:

* [Flatpak

[2019-03-17 01:43] apjanke opened #27 "forge tester: display total elapsed time as "minutes:seconds" instead of just seconds"
A full test run takes about 45 minutes. That should be displayed as “45:00” instead of “2736 s”.

[2019-03-17 01:45] apjanke commented on #26
I suppose I could just stick the results in `~/octave/testify/forge-tester/results`. Writes to `~` work under Flatpak Octave.

[2019-03-17 02:08] apjanke commented on #26
Well, now that I upgraded my Flatpak Octave to 5.1.0, it won’t install .zip file packages any more.

[code]

Luckily, this seems to work:

[code]

[2019-03-17 02:09] apjanke commented on #26
I stuck the output in `~/octave/testify`: https://github.com/apjanke/octave-testify/commit/4aabc5d972792eba4fc4a253f95d399cac5a09a3.

Maybe I should do the same change on macOS for consistency.

[2019-03-17 02:49] apjanke commented on #23
It's running on Linux. The code itself seems good; it's just that Octave crashes partway through the test sequence, during testing `level-set`.

Example output: [octave-testify-ForgePkgTester-2019-03-16_19-08-14.zip](https://github.com/apjanke/octave-testify/files/2974719/octave-testify-ForgePkgTester-2019-03-16_19-08-14.zip)

[2019-03-17 03:08] apjanke commented on #23
Well, it fails on Windows. `pkg uninstall <package>` won't work.

[code]

Looks like it's because of loaded libs, probably oct-files. Windows holds on to those files so you can't delete them until they're unloaded.

[2019-03-17 03:09] apjanke commented on #26
Gonna leave it as is on macOS for now. Calling this fixed.

[2019-03-17 03:09] #26 closed, assigned to apjanke

[2019-03-17 03:14] apjanke opened #28 "forge tester: Doesn't work on Windows"
The forge pkg tester doesn't work on Windows. `pkg uninstall <package>` won't work for a package that has been loaded in the Octave session.

[code]

Looks like it's because of loaded libs, probably oct-files. Windows holds on to those files so you can't delete them until they're unloaded.

[2019-03-17 03:23] apjanke commented on #27
Fixed in https://github.com/apjanke/octave-testify/commit/ad6894e51b6c2bfae05a43202edc6c3a12944952.

[2019-03-17 03:23] #27 closed, assigned to apjanke

[2019-03-17 03:33] apjanke commented on #7
`isfolder` was introduced in Octave 5.1.0.

For now, it's my intention for this to work on Octave 4.4.1 as well. I'll add a back-compatibility shim.

[2019-03-17 03:35] apjanke commented on #14
Sounds good. I'll add it.

[2019-03-17 03:37] apjanke commented on #23
Okay, it's running all the way through on Linux now. Going to set up an overnight test run to get a complete test suite result for the Linux side. Firing up an overnight macOS run, too, so I have a test result from the latest GitHub `master` there, too.

[2019-03-17 03:42] apjanke commented on #12
You might need it to disambiguate between running tests for the whole class, and running tests for just the constructor. If you have a class named `foo`, then the function `foo` is the constructor for it, and matches the `test <function_name>` calling form, too.

[2019-03-17 04:02] mtmiller opened #29 "feature request: test takes a cell array of files or function names"
We have `test` to test a single file, and `runtests` to test a directory. It would be ideal if one or both of these functions took a cell array of names to iterate over.

Some examples that seem like they should just work

    test (glob ('cheb*.m'))
    test ({'func1', 'func2'})

By extension, a slightly more wacky idea would be to always run `glob` on the argument, or maybe only if it looks like

[2019-03-17 04:04] apjanke commented on #8
Sorry for the slow response on this. I didn’t have “Watch” turned on for this repo, so I wasn’t getting notifications for bug report submissions.

Sounds good. I'm going to call this a bug instead of a feature request, because it’s not adding new functionality, just fixing how the existing code works.

[2019-03-17 04:07] apjanke commented on #13
Sorry for the slow response on this. I didn’t have “Watch” turned on for this repo, so I wasn’t getting notifications for bug report submissions.

Sounds good. I think we need two things in order to do this:
* A good indicator of interactive vs batch mode for test execution
* A sort of event-handling system so the lower-level test-running code can pass notifications of progress steps elapsing up t

[2019-03-17 04:08] mtmiller opened #30 "feature request: test could consume the struct array returned by dir()"
The `dir` function in Octave and Matlab returns a struct array describing the files matched by the pattern. Would be a nice enhancement if `test` could directly consume that struct array.

    test (dir ('cheb*.m'))

Would be shorthand equivalent to

    d_arrray = dir ('cheb*.m');
    n_array = {d_array.name};
    test (n_array)

assuming that #29 is done.

[2019-03-17 04:12] mtmiller commented on #12
Yeah, there was a similar discussion over at https://github.com/catch22/octave-doctest/issues/196, you might be interested in weighing in over there too.

[2019-03-17 04:40] apjanke commented on #23
Darn. segfault on Linux while testing `financial`. Looks like it's in the `io` package. Maybe due to `io` being installed, loaded, uninstalled, reinstalled, and reloaded in the same session.

[code]

If that's what's going on, #17 could probably help clean this up.

[2019-03-17 04:41] apjanke opened #31 "Duplicate deps in installation list"
[code]

[2019-03-17 04:44] apjanke commented on #31
Fixed in https://github.com/apjanke/octave-testify/commit/4af657caccd9bf0b1b22fa43e26a2728fd101cb5.

[2019-03-17 04:44] #31 closed, assigned to apjanke

[2019-03-17 12:40] apjanke commented on #16
More progress.

Example output:
macOS: [octave-testify-ForgePkgTester-2019-03-16_23-40-16.zip](https://github.com/apjanke/octave-testify/files/2975137/octave-testify-ForgePkgTester-2019-03-16_23-40-16.zip)

[2019-03-17 12:44] apjanke commented on #13
Looking at [Octave #43316](https://savannah.gnu.org/bugs/?43316), there might be two separate use cases here. For keeping an automated process from timing out, you probably want a different sort of progress indicator than an interactive spinner/throbber animation: the animation uses backspaces or terminal cursor movement commands, which are inappropriate for inclusion into a log file. Automated pr

[2019-03-17 16:05] apjanke commented on #13
Do you also care about preventing timeouts during the build/install stage of package installations? Because those are done with single calls to make and configure, and Octave is single-threaded, that would probably need to be done with a wrapper for the make/configure calls that used something like bash coprocesses to emit the progress indicators while make is off doing its thing.

[2019-03-17 16:16] mtmiller commented on #13
Thanks for taking an interest! This was just an off the cuff idea taken from the bug I referenced.

Right, as a first step the easiest would be a pulse after every individual test block. After that this could get more complicated into maybe double parsing so the total number of tests is known ahead of time, maybe other enhancements.

[2019-03-17 16:18] mtmiller commented on #13
I personally don't, but I could see the case for that being an enhancement to `pkg install` too. In automated processes I would typically use `pkg install -verbose`, so no improvement needed there. Only users doing `pkg install foo` and wondering what's taking so long.

[2019-03-17 17:12] cbm755 commented on #6
Fixed upstream, and works in released 5.1.0 so probably nothing required here, closing

[2019-03-17 17:12] #6 closed, assigned to apjanke

[2019-03-17 17:18] apjanke commented on #6
Cool. Noting as upstream issue.

[2019-03-17 17:38] apjanke commented on #13
Work is in progress on the https://github.com/apjanke/octave-testify/tree/progress-indicators branch. I’ve written a basic throbber progress indicator class, but not integrated it into any of the test scripts yet.

To test it, do:

[code]

![testify-basic-throbber-demo](https://user-images.githubusercontent.com/2618447/54495419-d4ed9380-48b9-11e9-8ed3-edb304281882.gif)

[2019-03-17 17:58] cbm755 opened #32 "support `if (__pkg_test__)`"
How about returning a T/F boolean if `nargout == 1`?  And `NFAIL` for `nargout > 1`?

[code]

That's what we do in Doctest.  In principle one can `if (__pkg_test__)` to mean "if successfully ran tests".

[2019-03-17 18:25] mtmiller commented on #13
Very cool so far.

Some minor issues with a couple of the styles in my terminal:

![demo](https://user-images.githubusercontent.com/244682/54495999-4e2fbb00-48a7-11e9-9808-65bcb9f5e7e6.gif)

[2019-03-17 18:35] cbm755 commented on #12
I posted a summary of my thinking based on that thread [here](https://github.com/catch22/octave-doctest/issues/196#issuecomment-473695517)

I think the same logic would apply for regular tests.  Which suggests there could be some "parse this object for tests" common code.

[2019-03-17 18:57] apjanke commented on #13
Ah, crap. That cards thing is an issue with the number-of-columns used by the terminal for display. This is a *hard* issue to fix, because it doesn't depend on the properties of the Unicode characters; it depends on rendering decisions in both the font you're using and your particular terminal emulator, and there's no good way for a client program like Octave to detect that stuff.

How are "smiley

[2019-03-17 19:23] mtmiller commented on #13
Yeah, Terminator on Debian with GNOME, the font is Noto Mono.

Only "cards" and "dominoes" go backwards and overwrite the "Doing stuff", all the emoji work fine.

[2019-03-17 19:31] apjanke commented on #13
Okay. It sounds like Terminator + Noto Mono are combining to make Terminator think that cards and dominoes are half-width (1 column) instead of double-width (2 columns). So when I backspace 2 times to overwrite the card character, it effectively does an extra backspace.

This will be really hard to fix, I think, for the above reasons. Do you mind if we just let this one slide, at least for the tim

[2019-03-17 19:39] mtmiller commented on #13
Yeah absolutely put that off until much later.

[2019-03-17 20:02] apjanke commented on #12
I think I mostly agree, and think that the whole test selection logic (and command syntax) for doctest and this BIST stuff can probably be the same.

My current thinking is that there are two layers of test discovery:

1. The lower layer that operates on files, using files to identify tests, and a parser that reads a source file and extracts N tests from it.
2. A higher user-facing layer that take

[2019-03-17 20:03] apjanke commented on #12
Oh – can BISTs actually be associated with a particular method within a classdef file? All the ones I recall seeing just have all the tests in a block down at the bottom of the file.

[2019-03-17 20:06] cbm755 commented on #12
I think almost everything about Octave's classdef support is in flux. What is certainly true is that separate .m files specifying class methods can have their own tests associated with them.   That is `@klasdef/mymethod.m` as opposed to methods defined "inline" in `@klasdef/klasdef.m`.

[2019-03-17 20:08] apjanke commented on #12
Ah, that makes sense. And that way, the 1 specifier -> 1 or more files -> all tests from those files mapping sequence works.

[2019-03-17 21:16] apjanke opened #34 "Forge tester: package file download caching"
Some of my downloads from Octave Forge are failing, and it's messing up the tests. Also, it takes a couple minutes to do all the downloads.

Add package file caching. It should go in `~/octave/testify/forge-tester/download-cache`. And move the restults files to `~/octave/testify/forge-tester/results`.

[2019-03-17 21:26] apjanke commented on #34
Aw, darn. Caching the downloads I do for metadata will be easy. But caching the actual installation downloads will take deeper refactoring of the `pkg install` code I ganked.

[2019-03-17 21:29] apjanke opened #35 "forge tester: lock file to prevent concurrent runs"
If you run the Forge Tester in multiple concurrent sessions, it'll hose both the test runs and your `pkg` installation directory, because of the overlapping installs and uninstalls.

Add a lock file somewhere to prevent concurrent runs.

[2019-03-17 21:30] apjanke commented on #17
Done in https://github.com/apjanke/octave-testify/commit/56eb13ab4b67ae19f7928fc1e70d4ebaca7bda73.

[2019-03-17 21:30] #17 closed, assigned to apjanke

[2019-03-17 21:49] apjanke commented on #34
Okay, done in https://github.com/apjanke/octave-testify/commit/1fb93b1d0d87882ba2a64f4e1272c2a1742cdff3.

[2019-03-17 21:49] #34 closed, assigned to apjanke

[2019-03-17 21:59] cbm755 opened #36 "BistRunResult:plus has bug with no_tests list"
In `runtests`, it seems that `rslts.files_with_no_tests` seems to fill up just as `rslts.with_tests` does.  This seems to happen following `rslts += rslt;`

Is that operation well-defined for structs?  Seems... magical.

[2019-03-17 22:05] cbm755 commented on #36
Oh, maybe `rslts` is an object.  In that case, looks like a bug in the `plus` method?

[2019-03-17 22:05] apjanke commented on #36
`rslt` isn't a struct; it's a `octave.test.internal.BistRunResult` object, and `BistRunResult` [provides an overload for `plus`](https://github.com/apjanke/octave-testify/blob/8aa0b903df13c393c20f848bd35c56929a4253f2/inst/%2Boctave/%2Btest/%2Binternal/BistRunResult.m#L90-L112) that does this work.

[2019-03-17 22:05] cbm755 commented on #36
found it, sending silly patch...

[2019-03-17 22:06] apjanke commented on #36
Ahh, I bet I know what your patch is going to be. :)

[2019-03-17 22:26] apjanke commented on #16
Looking pretty good now, with caching and dependency-order resolution.

Example output:
macOS: [octave-testify-ForgePkgTester-2019-03-17_17-53-30.zip](https://github.com/apjanke/octave-testify/files/2975787/octave-testify-ForgePkgTester-2019-03-17_17-53-30.zip)
Linux: [octave-testify-ForgePkgTester-2019-03-17_16-07-51.zip](https://github.com/apjanke/octave-testify/files/2975883/octave-testify-Forg

[2019-03-17 22:27] #36 closed, assigned to cbm755

[2019-03-17 22:41] cbm755 opened #38 "runtests: should not return anything if nargout == 0"

[2019-03-17 22:50] cbm755 commented on #32
I did this for `runtests` in #38.

[2019-03-17 23:10] apjanke commented on #32
Consistency is good. Let's do it.

[2019-03-17 23:11] #38 closed, assigned to nobody

[2019-03-17 23:12] #2 closed, assigned to apjanke

[2019-03-18 00:23] cbm755 commented on #11
An honest answer: `test` scare me: its full of `fid`, logging, and stuff like that.

@apjanke:
I wonder if this testify package should:
  * work towards having a single driver called `testify`, with no clashes with core namespace.
  * `testify foo` will DTRT for any `foo`.
  * The thing currently called `test.m` should be split into `testify.m` and `__test_file__m`.
  * At a later date, we would r

[2019-03-18 00:42] apjanke commented on #16
Closing this as done. Remaining bugs in it can be dealt with under other issues.

[2019-03-18 00:42] #16 closed, assigned to apjanke

[2019-03-18 00:43] apjanke commented on #28
It works on Windows now that the install-ordering is working and we don't have to do redundant package installations in a single session.

[2019-03-18 00:43] #28 closed, assigned to apjanke

[2019-03-18 00:43] apjanke commented on #23
Tested on Windows and Linux now, and it's working well enough on both of them. Closing as fixed.

[2019-03-18 00:43] #23 closed, assigned to apjanke

[2019-03-18 02:27] apjanke commented on #32
Done in https://github.com/apjanke/octave-testify/commit/c8d7b93509118b72577ebefa756ca2e0a2646720.

[2019-03-18 02:27] #32 closed, assigned to nobody

[2019-03-18 02:29] apjanke commented on #11
That's a good idea. Testify has gotten big enough, especially with the addition of the Forge package tester, that it should be able to peacefully coexist with (and possibly interact with) Octave's own testing. I'll make the name changes.

[2019-03-18 02:52] apjanke commented on #11
I renamed the functions in https://github.com/apjanke/octave-testify/commit/5defca4111fff6757440c67da23dab1c2bc7cde4 to avoid conflict with Octave's regular testing functions. They're now called `test2`, `runtests2`, and `__run_test_suite2__`, creatively enough. (I couldn't call the test function "testify", because that seems to conflict with the +testify namespace, and I'd rather keep the namespa

[2019-03-18 02:54] apjanke commented on #11
So, in terms of the main driver, I'd rather see both `test2` and `runtests2` hollowed out and have most of the actual testing logic moved into a `testify.TestRunner` class, so it can be managed and configured in a more structured manner. Then `test2` and `runtests2` can mostly worry about translating the command style function signatures into appropriate object configurations.

[2019-03-18 04:30] apjanke commented on #15
I think this is doable. Do you want a snapshot of the workspace from before the failed test/test block, after, or both? And would you prefer to have it saved to somewhere in-process like `appdata`, or saved to a file?

[2019-03-18 14:54] apjanke opened #41 "Include OS and maybe host name in results output dir name"
Include the OS and possibly host name in the results output directory, in addition to the timestamp. That'll make a nice label for when you zip up the directory and pass it around to other users.

[2019-03-18 14:57] apjanke opened #42 "Rename top-level functions to not shadow Octave functions"
We are currently providing `test`, `runtests`, and `__run_test_suite__` functions that shadow Octave's own functions. Since Testify is turning into a longer-lived project, this is no longer appropriate. Rename them so they can coexist side by side with Octave's built-in test functions.

This is a high priority change, so it'll get its own minor release: 0.3.0.

[2019-03-18 14:58] apjanke commented on #11
Separate issue for renaming the top-level functions: #42. That part will go out in an 0.3.0 release that I'll make in the next couple days.

[2019-03-18 15:01] apjanke opened #43 "doctest tests fail with "'is_octave' undefined""
Running doctest on several of the packages fails with this error:

[code]

Log: [test_forge_pkgs.log](https://github.com/apjanke/octave-testify/files/2978878/test_forge_pkgs.log)

Affected packages:

[code]

I turned doctest off by default in https://github.com/apjanke/octave-testify/commit/3640205e022cbbb44d2c6cea5e9b2962859ba652 because of this.

`is_octave()` is a private function inside doctes

[2019-03-18 15:05] apjanke commented on #42
Done in https://github.com/apjanke/octave-testify/commit/5defca4111fff6757440c67da23dab1c2bc7cde4, but waiting to hear from collaborators about what they think of the new names.

[2019-03-18 15:22] apjanke commented on #43
Looks like this is a problem with Testify, not doctest. When I try to reproduce with doctest alone, it works fine.

[code]

[2019-03-18 15:26] apjanke commented on #43
Works okay with just ` __test_pkgs__('financial', struct("doctest",true))`.

[2019-03-18 15:32] apjanke commented on #43
Aha! The doctest package itself is the first one to fail.

[code]

Maybe I'm unloading the doctest package after testing it.

[2019-03-18 15:58] apjanke commented on #8
Did some in https://github.com/apjanke/octave-testify/commit/130246f6096ac7ee98deb9bb90f8694f59e00a70 and https://github.com/apjanke/octave-testify/commit/7a2b4f3c00f161e2180624033a1eabc25919b4fb.

[2019-03-18 16:48] apjanke commented on #43
Fixed in https://github.com/apjanke/octave-testify/commit/02759c62dba9ca43e5e87509d0726b8827c630d8.

[2019-03-18 16:48] #43 closed, assigned to apjanke

[2019-03-18 16:53] apjanke opened #44 "doctest error with compare_versions aborts test run"
Now that we've removed many try/catches (#8), internal errors in the testing packages will abort the test run.

This is happening when testing the interval package, apparently in doctest due to a bad call to `compare_versions`.

To reproduce:

[code]

Example run: [octave-testify-ForgePkgTester-2019-03-18_12-49-47.zip](https://github.com/apjanke/octave-testify/files/2979284/octave-testify-ForgePkg

[2019-03-18 16:54] apjanke commented on #8
Did one more in https://github.com/apjanke/octave-testify/commit/4be1bad8a4bbbecd2b2e769f909d002aae010b06. That's most of Testify's high-level try/catches gone. Now internal errors in the test code will bubble up to the top and abort the test, and can be debugged with `dbstop if error`.

[2019-03-18 16:56] apjanke commented on #44
Here's the stack trace:

[code]

[2019-03-18 16:59] apjanke commented on #44
That part in `doctest_run_tests` line 49 is actually an eval, not a call to compare_versions.

[code]

And the uses of `compare_versions` within doctest look okay:

[code]

Maybe there's a bad compare_versions call in the interval package's embedded doctest strings.

[2019-03-18 17:04] apjanke commented on #44
Ah, yep. In interval:

[code]

If the symbolic package is not installed, then `ver ("symbolic")` returns an empty struct, and dot-referencing into causes the comma-separated list of function parameters to degenerate.

I think I'll work around this now by just adding interval to the known-bad list, and ask the doctest folks how they want to handle this.

[2019-03-18 17:09] apjanke commented on #8
Do you actually care about `unwind_protect`? AFAIK, it doesn't interfere with `dbstop` and doesn't keep errors from propagating up to the top.

[2019-03-18 17:34] cbm755 commented on #8
I'm not sure I understand enough to answer that, as I'm unsure of the precise differences b/w try-catch and unwind_protect.  To me, they both encourage some kind of magical thinking instead of proper error checking: but that may not be accurate at all!

[2019-03-18 18:31] apjanke commented on #8
unwind_protect just ensures that the code in the cleanup block always executes, regardless of whether the protected block was exited via normal falling-off-the-end, an early return, or a raised error(). It’s basically a way of avoiding copy-and-pasting cleanup code into multiple spots inside the main block. There is no actual error handling done in unwind_protect; its only interaction with error h

[2019-03-18 18:44] cbm755 commented on #14
+1, I sometimes do this when I have a very slow test set, then I start multiple copies with different seeds: that way I can wake up the next morning and have some probability of finding every test that failed.

Now that I've read that, I gather this is what interactive mode of `test` is supposed to toggle.

[2019-03-18 18:46] cbm755 commented on #42
Don't care too much :)

`__run_test_suite__` should go away, IMHO  (or become a very thin layer around runtests2).

I think runtests2 and test2 should converge, to `test2`.

So how about `testng` for "next gen"?

[2019-03-18 19:02] mtmiller commented on #14
@cbm755 I was thinking more of inter-dependencies between tests, things like changing Octave persistent state or process state, loading a library that breaks something else, etc. But yes, tests that use random without setting their own seed will also be affected.

[2019-03-18 20:43] apjanke commented on #7
Added a compatibility shim in https://github.com/apjanke/octave-testify/commit/27b2d31f604aa103cd70db1465f32874bee1e8dc, but I don't have an older version of Octave to test it on. Could you test?

[2019-03-18 23:03] cbm755 commented on #8
Ok, thanks for the explanation.

[2019-03-18 23:20] cbm755 commented on #7
No warnings about isfolder, but I get:
[code]

[2019-03-19 00:01] apjanke commented on #7
Dumb unrelated bug I introduced recently. Will fix later tonight.

Closing this one as fixed.

[2019-03-19 00:01] #7 closed, assigned to apjanke

[2019-03-19 01:31] apjanke commented on #7
Fixed that newly introduced bug in https://github.com/apjanke/octave-testify/commit/1656827b0cb46ebcd3352393c12d6d51f0cd98eb.

[2019-03-19 14:52] apjanke commented on #8
This turned out to be a good idea; debugging the code was easier this way.

I think I've got all the offenders. The remaining try/catches are either necessary or don't interfere with debugging, and are scoped pretty narrowly. Closing as fixed.

[2019-03-19 14:52] #8 closed, assigned to apjanke

[2019-03-19 15:27] apjanke opened #45 "Refactor the code"
The `test` function's code has some issues:

* The main function is several hundred lines long.
* Logic for parsing tests, running tests, and tracking results is interleaved across the whole function.
* All variables are prefixed with "__", hurting readability.
* It uses local functions, which can't be called directly, so they're hard to test.
* Results tracking is handled by seven or eight separa

[2019-03-19 15:31] apjanke commented on #42
I'm not a big fan of "ng" or "new" for names, because they don't age well. If you later make another implementation, then the "new" one is actually an old one.

I'm not sure about this. They work at different levels: `test2` runs tests in a single file, outputting detailed results for those tests. `runtests2` discovers and runs tests for multiple files, with a coarser-grained aggregate results out

[2019-03-19 15:41] apjanke commented on #4
Nixing this, or at least delaying it. Since Testify has no C++ code, you don't need to go through the build and install cycle to work with it in dev; just add its `inst` directory to your path.

And for real releases, it's appropriate that the code come from the last commit that's actually in source control, not local changes. If this is done, it should be a separate `dist-local` target.

Closing

[2019-03-19 15:41] #4 closed, assigned to apjanke

[2019-03-19 16:34] apjanke commented on #11
I refactored the code to make it easier to work with (#45). The new code is in `test2_refactor` and `runtests2_refactor`. Now we can make behavior changes wherever it makes the most sense, without avoiding `test`.

[2019-03-19 17:07] apjanke commented on #12
This is in. It's in `runtests2_refactor`. You can call it with either of these forms:

[code]

You can also do `runtests2_refactor myclass`, and it might work, depending on what else "`myclass`" could resolve to.

Support for namespaces and dot-referencing of constructors or class methods is not supported yet.

As things stand now, `test` acts on a single file, and classes may have multiple files

[2019-03-19 17:10] apjanke commented on #11
This is in. `runtests2_refactor` now recurses into subdirectories when you pass it a directory.

I made recursing the only behavior, not just the default, because I can't see a use case for not recursing. Octave source trees are typically not hierarchical once you get to a source directory. So the only reason you'd pass in a directory that is not an actual source directory is if you had source dir

[2019-03-19 17:10] #11 closed, assigned to nobody

[2019-03-19 17:13] apjanke commented on #29
I have modified `runtests2_refactor` to take multiple arguments. You can pass in multiple files and/or directories and it will test all of them in turn.

I also added support for file globs.

Your examples won't work as is, but close analogs that do work now are:

[code]

Is that close enough?

[2019-03-19 17:16] apjanke commented on #30
This one I'd rather not do. The alternative representations of files as strings or "dir structs" seems orthogonal to what the test functions support, and I'd rather see this supported by external functions to transform between them, that could be used in conjunction with any function that takes lists of files.

E.g. you could define a `dir_structs_to_paths()` function and then do something like `r

[2019-03-19 17:18] cbm755 commented on #42
+1  User experience is "I want to test foo", where foo is function, dir, class, namespace, package, ...

[2019-03-19 17:21] apjanke commented on #30
Added support for cellstr arguments to `runtests2_refactor` in https://github.com/apjanke/octave-testify/commit/d4738695473f130544e02867369a82a42a105ac4. Now `runtests2_refactor (dir_structs_to_paths (dir ('cheb*.m')))` would work.

Going to call this fixed. Please re-open if you really really want support for this.

[2019-03-19 17:21] #30 closed, assigned to nobody

[2019-03-19 17:23] apjanke commented on #42
Cool.

One issue is that the existing `test` and `runtests` and their signatures are part of the public Octave API. We may have to take a breaking change on that if we want to merge them. I think if we merge them into `test`, the basic calling forms of `test` would still work; you'd just get additional calling forms. And we could leave a `runtests` wrapper in place for a while that just issues a d

[2019-03-19 17:28] apjanke opened #46 "Merge `test2` and `runtests2` and modify their signatures"
This follows up discussion in https://github.com/apjanke/octave-testify/issues/42#issuecomment-474051522

@cbm755 things `runtests2` and `test2` should converge to a single function with different operation modes, to present a unified interface to the end user.

Consider doing this, and discuss what the resulting interface would look like.

[2019-03-19 17:29] apjanke commented on #42
Let's take the discussion on merging the functions over to #46. I'd like to close this issue out for Milestone 0.3.0, since this was initially just about avoiding the name collisions.

[2019-03-19 17:30] apjanke commented on #42
Closing as fixed since the rename has landed.

[2019-03-19 17:30] #42 closed, assigned to apjanke

[2019-03-19 17:52] apjanke commented on #44
Worked around in https://github.com/apjanke/octave-testify/commit/db9da33f6c1f69267f76c04f4a19923934ebf272.

TODO: Report this bug in interval upstream. But we can get to that later.

[2019-03-19 17:52] #44 closed, assigned to apjanke

[2019-03-19 17:55] apjanke opened #47 "Clickable link to test location in failure report"
It would be cool if, in the report output that listed test failures, it had a clickable link that would open the tested file in the editor and take you to the position of the failed test.

Doing this will probably take:
* Tracking the file path and source file line number in `BistBlock`
* Tracking individual errors in `test2` and tying them to the failed `BistBlock`s
* A detailed output form that

[2019-03-19 17:58] apjanke opened #48 "Forge tests silently abort after "symbolic""
My tests runs are aborting after testing the symbolic package. Looks a lot like #44.

[octave-testify-ForgePkgTester-2019-03-19_13-31-31.zip](https://github.com/apjanke/octave-testify/files/2984824/octave-testify-ForgePkgTester-2019-03-19_13-31-31.zip)

[2019-03-19 18:00] apjanke opened #49 "Support namespaces in class and function references"
`runtests2` should support namespaces when specifying class or function targets.

[2019-03-19 18:00] apjanke commented on #12
Closing this as fixed since the basic mechanism is working. Adding a #49 for adding namespace support.

[2019-03-19 18:00] #12 closed, assigned to apjanke

[2019-03-19 18:02] apjanke opened #50 "Octave crashes when doing `clear classes` after a Forge test run"
Often, after I've run a `testify.install_and_test_forge_pkgs` run, I'll do a `clear classes`, and that will cause Octave to crash.

[2019-03-19 18:10] mtmiller commented on #30
LGTM

[2019-03-19 18:11] apjanke commented on #48
Something in python_ipc_driver is erroring, and this is causing doctest_run_tests to error out.

[code]

That location in `doctest_run_tests` is the same skip-evaluation code that was causing interval to bomb.

Worked around in https://github.com/apjanke/octave-testify/commit/918e81bacf6a6493a6014313d5324b4e71e01c76.

[2019-03-19 18:13] apjanke opened #51 "Updates"
Subscribe to this issue if you want to get notifications of Testify events via GitHub notifications. Notices about Testify releases and important changes will be posted to this issue.

This issue is locked so that only project maintainers can post to it, so you won't get spammed.

[2019-03-19 18:16] mtmiller commented on #29
Ok, that works for me.

And the one-liner also works

    runtests2_refactor (glob ('*foo*.m'){:})

[2019-03-19 18:16] #29 closed, assigned to nobody

[2019-03-19 18:22] mtmiller commented on #15
Good questions, not sure what the ideal outcome would be, but here are a couple use cases where I've saved test data before.

1. Simple case. A test fails reliably every time. If I want to inspect why, I can run `test foo verbose` and copy and paste the workspace dump to my command line. This would be a convenience, if the test fails, automatically stash the test local vars somewhere and tell me w

[2019-03-19 18:24] apjanke commented on #15
Gotcha.

Let's do the simple case 1 first and see how it works. 2 will take more work because that'll involve figuring out a decent path construction convention for storing the resulting workspace files (and maybe some test result info to go along with them).

[2019-03-19 18:25] apjanke commented on #41
Done in https://github.com/apjanke/octave-testify/commit/37df0da80dc6db06131ffe3c680233624fd5996a.

[2019-03-19 18:25] #41 closed, assigned to nobody

[2019-03-19 18:28] apjanke commented on #48
Okay, it's running all the way through to "zeromq" now. Re-enabled doctest by default in https://github.com/apjanke/octave-testify/commit/383a8c9a3f47425b7282146e24750c38b3112887. Closing.

[2019-03-19 18:28] #48 closed, assigned to nobody

[2019-03-19 18:30] apjanke commented on #51
Testify 0.3.0 is out.

https://github.com/apjanke/octave-testify/releases/tag/v0.3.0

This release renames the top-level functions so they do not shadow Octave's built-in `test` and `runtests` functions. This allows Testify to co-exist happily with the core Octave test code.

[2019-03-19 18:31] apjanke commented on #42
I pushed this out in v0.3.0, just released now. https://github.com/apjanke/octave-testify/releases/tag/v0.3.0

[2019-03-19 18:52] apjanke commented on #49
Fixed in https://github.com/apjanke/octave-testify/commit/39905642604642dc79947e38d56be7bfbf3e51c7.

[2019-03-19 18:52] #49 closed, assigned to nobody

[2019-03-19 18:52] apjanke commented on #12
Ha! I found a quick-and-dirty way to add namespace support. https://github.com/apjanke/octave-testify/commit/39905642604642dc79947e38d56be7bfbf3e51c7

[2019-03-19 19:09] apjanke opened #52 "test2_refactor is not running all the tests"
[code]

Grr.

[2019-03-19 19:44] apjanke commented on #52
Fixed in https://github.com/apjanke/octave-testify/commit/82cd3689136e1b7326fc266b6c5bb1d4cc246819.

[2019-03-19 19:44] #52 closed, assigned to apjanke

[2019-03-19 20:19] apjanke commented on #14
Added `-shuffle` and `-shuffle-seed` options to `runtests2_refactor` and `test2_refactor` in https://github.com/apjanke/octave-testify/commit/e48e7f76d9bd637297722210f45ba5ec9ac0d827 and https://github.com/apjanke/octave-testify/commit/ae9034754e6d70a0684f4760fcbfd451d154ecb7. Closing as complete.

[2019-03-19 20:19] #14 closed, assigned to apjanke

[2019-03-19 20:27] apjanke commented on #35
Done in https://github.com/apjanke/octave-testify/commit/7652314ebe11385f112fe879834aee0b8fc93b1a.

[2019-03-19 20:37] apjanke commented on #35
This should include the host name in the log file. And the acquisition failure message should include the lock file contents. Reopening.

[2019-03-19 20:43] apjanke opened #53 "Get on Octave Forge"
Once the code has settled down, try to get this on Octave Forge. As an External Package, anyway.

[2019-03-19 21:06] apjanke commented on #35
Added host name and lock-contents-in-failure-message in https://github.com/apjanke/octave-testify/commit/630f9f284d4942c6c6a7b568e3baf853e0d0146a. Closing again.

[2019-03-19 21:06] #35 closed, assigned to apjanke

[2019-03-19 21:39] apjanke commented on #15
Both cases are done (in https://github.com/apjanke/octave-testify/commit/736fdd8408fe2142611f2427a5d9cf7380ee7f18), as long as you don't mind concentrating on a single test failure for case 2 (instead of saving multiple workspaces for multiple test failures within a single test run).

There are new `-fail-fast` and `-save-workspace` options to `test2_refactor` and `runtests2_refactor`. When `-save

[2019-03-20 01:17] apjanke commented on #3
Done. I refactored `__test_pkgs__` to use the test runner objects, factored out their summary display code to a common `BistResultsReporter`, and fixed the failed-file tracking logic. Moved `__test_pkgs__` to `testify.test_pkgs`.

[2019-03-20 01:17] #3 closed, assigned to apjanke

[2019-03-20 01:21] apjanke opened #54 "eigs test is failing out early"
[code]

That doesn't look right. What's that "p"?

[2019-03-20 01:22] apjanke opened #55 "Octave crashes during `__run_test_suite2__`"
When running the full test suite, Octave crashes part way through. That's a bummer. Investigate.

[2019-03-20 01:43] apjanke commented on #55
[code]

[2019-03-20 01:49] apjanke opened #56 "Logging"
For the higher-level `__run_test_suite2__` and `testify.test_pkgs`, we need logging support.

Both the detailed block-level test results and the higher-level summary results should be captured.

Need log file fid hookups for the low-level logging. Might need some hacky `diary` support for the high-level logging.

[2019-03-20 01:51] apjanke commented on #45
I'm deferring logging to a separate issue https://github.com/apjanke/octave-testify/issues/56 because it's a more complicated topic and doesn't block the refactoring itself.

[2019-03-20 01:53] apjanke opened #57 "Octave syntax highlighting handler for Sublime Text"
I'm editing this stuff in Sublime Text, and it has a Matlab syntax handler, but not an Octave one. And we're using lots of Octave extensions, like "#" comments, `end<thing>` block closings, and so on. Would be nice if it had an Octave syntax definition.

[2019-03-20 01:57] apjanke commented on #45
I'm happy with the refactoring now. Moved `test2_refactor` and `runtests2_refactor` back to `test2` and `runtests2` in https://github.com/apjanke/octave-testify/commit/91d8fe76e71a11cbf1027283400f9b33a15b23ec.

[2019-03-20 01:57] #45 closed, assigned to apjanke

[2019-03-20 02:41] apjanke commented on #56
Started work on this in https://github.com/apjanke/octave-testify/commit/cf4bdf8060e9d0fff3c4424316ea8d42615befa2, clearing up and simplifying how the low-level/detail logging works.

[2019-03-20 03:24] apjanke commented on #56
I hacked it in using `diary`. Now it's logging both the high-level and low-level results to files under `~/octave/testify`.

[2019-03-20 03:24] #56 closed, assigned to apjanke

[2019-03-20 03:25] apjanke opened #58 "Refactor detail log display to use a BistBlock.disp output"
The detailed logging outputs the contents of the test block's code and a little type information. Refactor this to have BistBlock expose a disp or other method that displays the block info, and use that for logging instead, so debugging inspection and log output are consistent.

[2019-03-20 13:46] apjanke commented on #58
Done in https://github.com/apjanke/octave-testify/commit/fb143410cc7d1cff6bef42a24e67f3277502fcf3.

[2019-03-20 13:46] #58 closed, assigned to apjanke

[2019-03-20 13:47] apjanke opened #59 "Fix PASS/FAIL alignment in test output"
[code]

I don't like that "FAIL" is not right- or left-aligned with "PASS" or anything else.

[2019-03-20 13:51] apjanke commented on #13
We'll probably need [`isatty`](http://man7.org/linux/man-pages/man3/isatty.3.html) support, since that doesn't seem to be present in Octave. That'll mean adding oct-files to the package.

[2019-03-20 13:57] apjanke commented on #59
Fixed in https://github.com/apjanke/octave-testify/commit/a2bcf15ce4420ca81d8d677fb5916ea129d73dc1.

[2019-03-20 13:57] #59 closed, assigned to nobody

[2019-03-20 16:16] apjanke opened #60 "Way too many failures in test suite"
This looks like something wrong with the test runner, not Octave itself.

[code]

[2019-03-20 16:16] apjanke commented on #55
Looks like this was fixed by https://github.com/apjanke/octave-testify/commit/7eb2ca24ff25f4074ebf59264eee97552aa942f0.

It'd be interesting to go back and reproduce the error to find out why it causes an Octave crash instead of a simple error.

[2019-03-20 16:16] #55 closed, assigned to nobody

[2019-03-20 16:17] apjanke commented on #57
I created a separate project for this: https://github.com/apjanke/sublime-octave.

[2019-03-20 16:17] #57 closed, assigned to nobody

[2019-03-20 18:17] cbm755 commented on #44
Please do file upstream, or let me know if you want me to.  Its also a bug in Interval (but of course, Doctest should be robust to such things.)

I guess we need a try-catch block around the evaluation of directives if we don't already.

[2019-03-20 19:02] cbm755 opened #61 "`x.y.z~` not currently recommended version string"
Someday we can have nice things but not yet ;-)   (upstream issue https://savannah.gnu.org/bugs/?55838)

[code]

This is why I recommended `0.3.0+` following the release of `0.3.0` and before `0.4.0`.

[2019-03-20 19:48] mtmiller commented on #13
Should we get that into Octave 6? Seems easy enough.

[2019-03-20 21:11] apjanke commented on #44
Filed upstream: https://github.com/catch22/octave-doctest/issues/205.

I'll get around to filing it upstream with interval (and symbolic) too, once the other Testify issues are fixed. Identifying bugs for filing is the main point of this package, after all.

[2019-03-20 21:19] apjanke commented on #13
That would be nice. But I think we should do it here first. That way we can get it working sooner, and have Testify be compatible with Octave 5.x and 4.x, too, which I think is of interest. That would be a good way to test `isatty` before submitting it for inclusion in core Octave, too.

[2019-03-20 21:22] apjanke commented on #61
D'oh! Changed back in https://github.com/apjanke/octave-testify/commit/6be080e577461cd336b154aaca20dac38e13b880.

[2019-03-20 21:22] #61 closed, assigned to apjanke

[2019-03-20 21:25] apjanke opened #62 "File some upstream bugs for packages"
Once the Testify code is basically working, it’s time to put it to use. Use it to test the Octave Forge packages, and file some upstream bug reports for test failures there. That will let us see how well it’s working for its intended use case.

[2019-03-20 21:30] apjanke opened #63 "Factor out code discovery to separate class"
Put the code that does class/method/function discovery in a separate class. That way it'd be easy for doctest to copy it [if they want it](https://github.com/catch22/octave-doctest/issues/87), and easier to test. Seems like this is going to be a need throughout Testify, since Octave’s `methods()` and `meta.class` aren’t currently up to the task of discovering everything we need. (Especially with t

[2019-03-20 22:05] mtmiller commented on #13
Easy and fair enough. `doctest` used to define its own `evalc` function before that showed up in Octave.

[2019-03-21 00:21] cbm755 commented on #44
I filed for Interval here: https://savannah.gnu.org/bugs/index.php?55969

[2019-03-21 01:45] apjanke commented on #44
Thanks.

Not sure if there's a need to file for Symbolic, I think. The error that it raises is because SymPy is not installed, and SymPy is a requirement for Symbolic. I don't think the doctest tests would be expected to succeed in that case.

[2019-03-21 03:49] cbm755 commented on #44
Yeah almost all tests should fail in that case

[2019-03-22 21:19] apjanke opened #64 "Migrate to Packajoozle?"
Testify carries around its own hacked version of the `pkg` package installation code, so it can capture build logs. Maybe it should just migrate to using [Packajoozle](https://github.com/apjanke/octave-packajoozle) for this. That would be good testing exercise for Packajoozle, too.

[2019-03-24 03:15] apjanke commented on #64
Yes, this is a good idea. I just started work on it, and it's already helped me shake out a couple bugs in Packajoozle. And it removes a whole bunch of code copied from `pkg` into Testify.

[2019-03-24 03:58] mtmiller opened #65 "Make dependency on doctest optional?"
How would you feel about dropping the `Depends: doctest` and making it an optional dependency? It's only used as an option, could be detected at runtime and raise an error if the function isn't found.

[2019-03-24 04:12] apjanke commented on #65
I think that's fine.

We could demote the `Depends:` to a `Suggested:` to still indicate the relationship but not actually require it, right?

[2019-03-24 04:14] apjanke commented on #64
Work in progress on branch https://github.com/apjanke/octave-testify/tree/migrate-to-Packajoozle.

[2019-03-24 05:09] apjanke commented on #64
Well, I've got all the objects migrated over, except now Octave goes all crazy and loses functions like `dir`, `ls`, and so on, and crashes.

[code]

https://gist.github.com/apjanke/210e7efcd492badcfc4a7001499a648c

Happens under both Octave 4.4.1 and Octave 5.1.0.

[2019-03-24 05:18] apjanke commented on #64
And it's worse under Octave default. It can't even find `testify.internal.Util`'s static methods.

[code]

[2019-03-24 14:24] apjanke opened #66 "Make `fopen2` internal"
It really shouldn't be sitting in the global namespace where it can interact with user-defined functions.

[2019-03-24 14:27] apjanke commented on #65
Done in https://github.com/apjanke/octave-testify/commit/0452aa33e9608e6e75f83178ff61a3743da574c8.

[2019-03-24 14:27] #65 closed, assigned to nobody

[2019-03-27 02:56] mtmiller commented on #15
I tried a simple failing test case

    %!test
    %! x = 1;
    %! y = rand ();
    %! assert (x + y < 1)

And I got `before` and `after` structs with no variables in them

    ans =

      scalar structure containing the fields:

    ans =

      scalar structure containing the fields:

Assuming that can be fixed, this looks to me like a useful solution.

[2019-03-27 03:03] apjanke commented on #15
Oh, I thought only "shared" variables were supposed to persist in the test workspaces.

We can handle this case too. Looks to me like that is one "block", and the variables x and y should only live for the duration of that one block, but previously declared shared variables persist over multiple blocks?

[2019-03-27 03:08] mtmiller commented on #15
Right.

Ok, so I've converted the bad test to

    %!shared x, y
    %! x = 1;
    %! y = rand ();
    %!test
    %! assert (x + y < 1)

The test fails as expected, now I have a `before` and `after` with `x` and `y` each, but all are set to `[](0x0)`.

[2019-03-27 03:53] apjanke commented on #15
Well that's not right. I'll look in to it.

[2019-03-29 02:39] apjanke commented on #15
Fixed in https://github.com/apjanke/octave-testify/commit/d1a28be2a10d36712d356335d61785a9acf9a7e7 and https://github.com/apjanke/octave-testify/commit/6d92c8565f518a0b8cbde6aaf4e2cff5e493ee8d.

[code]

[2019-03-29 02:39] #15 closed, assigned to apjanke

[2019-04-19 19:45] apjanke commented on #60
Partially fixed in https://github.com/apjanke/octave-testify/commit/ec208e7c6b526baf56d4bd0ea61fa8e5c50e35bf and https://github.com/apjanke/octave-testify/commit/d752a9c6c25e6dde0e7abbd220591129f88b6815.

Now I'm down to this:

[code]

[2019-04-19 19:54] apjanke commented on #60
Aw, crap. At least some of the BISTs are depending on the internal implementation details of `test`.

Here's some test code from `inputname.m`:

[code]

That seems to rely on the fact that Octave's existing `test` implements shared variables by passing them as parameters to a testing function call that it generates dynamically, and that that testing function (with shared variables passed as named

[2019-04-19 20:28] apjanke opened #67 "Elapsed time output as "HH:MM:SS""
Change the display of elapsed time from "N seconds" to "HH:MM:SS".

Probably best done by making a minimal internal `duration` class.

[2019-04-19 20:30] apjanke opened #68 ""Files without tests" lists are displayed in summary output"
I don't think this is right; I think they should be relegated to the details log.

[code]

Check to see what `__run_test_suite__` does for this.

[2019-04-19 20:35] apjanke commented on #60
Fixed spurious inclusion of files with XFAILs in the files-with-failed-tests list in https://github.com/apjanke/octave-testify/commit/480e1518c4c891d40203d943536a48bdf1dd7d5c.

Now I've got this:

[code]

[2019-04-19 20:49] apjanke opened #69 "Expand tabs in source code"
Uh oh: some of my source files have tabs in them. Expand these to spaces. Looks like they were made with a tab stop of 2.

[2019-04-19 20:50] apjanke commented on #68
Looks like `__run_test_suite__` displays them all in a single list at the bottom of the detailed output in `fntests.log`, not to the console where progress goes.

[2019-04-19 20:51] apjanke commented on #69
Got a couple DOS mode files in there, too:

[code]

[2019-04-19 20:58] #67 closed, assigned to nobody

[2019-04-19 21:00] apjanke commented on #60
That took care of the big issues that were causing tons of failures. Calling this fixed. We'll grind down the remaining failures under other issues.

Followed up by #72.

[2019-04-19 21:00] #60 closed, assigned to apjanke

[2019-04-19 21:03] apjanke opened #70 "Add UXPASS tracking"
Track (count and list files for) XFAIL xtests that unexpectedly passed.

This should be a couple new fields in BistRunResult, and new output in the summary display.

[2019-04-19 21:05] apjanke opened #71 "BistRunner temp dir collision"
Whoops. Looks like the temporary files are only uniquified with a timestamp precise to the second. If you have multiple Octave processes running tests, they can collide.

[code]

Throw in some random salt and/or a PID in the temp dir to ensure uniqueness.

[2019-04-19 21:10] #71 closed, assigned to nobody

[2019-04-19 21:14] apjanke opened #72 "Test failures not in octave's __run_test_suite__"
Testify is failing more tests than core Octave is.

[code]

And why is it reporting more PASSes, too? 18090 vs 14933.

## Files with failed tests

* [ ] `libinterp/corefcn/pr-output.cc-tst`
* [x] `getframe.m`
* [ ] `inputname.m`
* [ ] `isocaps.m`
* [ ] `isosurface.m`
* [ ] `reducevolume.m`
* [x] `copyobj.m`
* [x] `hgsave.m`

And doesn't that seem like too few files to have 34 failures?

[2019-04-19 21:15] apjanke commented on #72
`inputname`:

Aw, crap. At least some of the BISTs are depending on the internal implementation details of `test`.

Here's some test code from `inputname.m`:

[code]

That seems to rely on the fact that Octave's existing `test` implements shared variables by passing them as parameters to a testing function call that it generates dynamically, and that that testing function (with shared variables pa

[2019-04-19 21:18] #68 closed, assigned to nobody

[2019-04-19 21:22] #69 closed, assigned to nobody

[2019-04-19 22:24] apjanke opened #73 "Files with all-skipped tests appear in "files with no tests""
[code]

The file shouldn't be in `files_with_no_tests` there.

[2019-04-19 22:28] #66 closed, assigned to apjanke

[2019-04-19 22:40] apjanke opened #74 "Improve "-verbose" output"
Octave's `test` looks like this:

[code]

My `test2` looks like this:

[code]

Improve its readability.

[2019-04-19 22:50] apjanke commented on #72
`isocaps`:

One of the "error" tests is getting the wrong error message.

Octave's:

[code]

Testify's:

[code]

Now, why would that happen? Is it because we're persisting our shared variables differently?

[2019-04-19 22:57] apjanke commented on #72
`getframe`:

This failure is intermittent. Seems to be related to test ordering. When I get a failure, it complains about something not being implemented for the gnuplot toolkit. Normally, I'm running with the qt toolkit; looks like the toolkit got switched during test execution somewhere?

Yeah: In 5.1.0, after I do a full `__run_test_suite2__`, my graphics_toolkit is left as gnuplot:

[code]

Bu

[2019-04-19 23:00] apjanke opened #75 "fail-fast "PASSES M out of N tests" output is insufficient"
When you run plain `test` or `test2`, fail-fast behavior is the default.

But the non-verbose output for `test2` in this case isn't sufficient; it doesn't make it clear that the test run was aborted.

[code]

That sounds like there were 21 tests total in the file, and only one of them failed. But there are actually at least 30 tests.

Add some additional output there: a line saying "test run abort

[2019-04-19 23:02] apjanke commented on #72
`isosurface`:

Similar test failure to `isocaps`, with an incorrect size-difference error message:

[code]

[2019-04-19 23:09] #75 closed, assigned to nobody

[2019-04-19 23:10] apjanke commented on #75
Better:

[code]

[2019-04-19 23:18] apjanke commented on #74
Improved in https://github.com/apjanke/octave-testify/commit/7ee28d7809eab0ede3950768a8e6542808d9697c and https://github.com/apjanke/octave-testify/commit/1c1086e4557e30427a58b8b0263b2f1d48ab12a1.

Now it looks like this:

[code]

Next up, I think I need to compact the property display for BistBlock.

[2019-04-19 23:34] apjanke commented on #74
More improvement in https://github.com/apjanke/octave-testify/commit/9d12856767ff184f07c28423167d4a34bb4badc3.

Now it's like:

[code]

[2019-04-19 23:36] apjanke commented on #72
`reducevolume`:

Yet another problem with incorrect error messages for input size comparisons:

[code]

[2019-04-19 23:37] apjanke commented on #72
`copyobj` and `hgsave` are failing under regular Octave `test` too. Marking them off.

[2019-04-19 23:47] apjanke commented on #64
Note: This will make integrating Testify into core Octave harder, because they're probably not going to pull in Packajoozle any time soon.

What should probably happen is that Testify should become a smaller core testing library thing, and the stuff that involves actually downloading and installing packages or other things that rely on Packajoozle should be broken out to a separate package that de

[2019-04-19 23:49] apjanke opened #76 "Convenient way to run ".cc-test" tests from Octave built-ins"
All these guys:

[code]

Need an easy way to reference and invoke them from `test2`.

[2019-04-19 23:52] apjanke opened #77 "Abbreviate matlabroot in failed test file list in summary"
[code]

Blah. Lines too long and tech-y looking.

[2019-04-20 00:04] apjanke commented on #72
Results running under CLI vanilla Homebrewed Octave 5.1.0:

[code]

Those failures are more what I'm used to.

Full test results:
[testsuite-angharad.local-macOS-20190419_194818.zip](https://github.com/apjanke/octave-testify/files/3099595/testsuite-angharad.local-macOS-20190419_194818.zip)

[2019-04-20 00:09] apjanke commented on #72
I manually extracted all the failures from the progress output, and it matches the summary results... except all the M-file tests are being run twice!

[code]

[2019-04-20 00:10] apjanke opened #78 "M-file tests are being run twice"
If you look through the progress log, you'll see each failure for an M-code test occurs twice:

[code]

No wonder my PASS counts are higher than Octave's `__run_test_suite__`!

[2019-04-20 00:31] apjanke commented on #76
Okay, to do this, I probably need to factor out the logic `add_octave_builtins` and `add_octave_standard_library` from `MultiBistRunner` into a separate object that presents these directory structures as data, so they can be used for both MultiBistRunner's test population/discovery and `test2`'s test name resolution.

Might also use that for abbreviating test locations for #77, if we associate eac

[2019-04-20 00:36] apjanke commented on #77
Maybe think of a cute emoji to use as the abbreviation for "installed Octave".

[2019-04-20 00:42] #78 closed, assigned to nobody

[2019-04-20 00:42] apjanke commented on #72
After fixing #78, I'm down to this:

[code]

Better. Now I think I'm down to legit individual test failures.

[2019-04-20 00:49] apjanke commented on #74
One more tiny tweak in https://github.com/apjanke/octave-testify/commit/67d5a85608815858917ad8812894ae5b1d9a075a: just the spacing between the "signal" symbols and the start of the text.

[2019-04-20 01:12] apjanke opened #79 "Bunch of helper files listed as "no tests""
[code]

These all look like helper files that aren't expected to have tests. They should have dummy `#!assert 1` tests in them to suppress this.

This is an issue with these files, not with Testify.

[2019-04-20 01:16] #73 closed, assigned to nobody

[2019-04-20 01:31] apjanke opened #80 "Output category in progress messages"
`__run_test_suite__` looks like this:

[code]

but `__run_test_suite2__` jumps right in like this:

[code]

The other way is better. And we've already added tags to MultiBistRunner to support it.

[2019-04-20 01:37] apjanke commented on #79
Even though this is an upstream issue, this is something Testify could deal with. There are two approaches:

1. Manually add dummy tests to each file, or
2. Special-case the "fixed test" directory so that none of its files are added to the "files with no tests" lists, because as test files themselves they have special semantics (they don't implement any Octave behavior, so there's no need to test

[2019-04-20 01:42] apjanke commented on #79
Ahh, this is a Testify issue after all. The "fixed test" files do not end up in `__run_test_suite__`'s list of "files with no tests":

[code]

Fix Testify to do the same.

[2019-04-20 01:46] apjanke commented on #76
Should be able to call "fixed test scripts" directly, too. E.g. here's `__run_test_suite__`'s progress output:

[code]

If they're displayed unqualified, they should be able to be called unqualified. Though Octave itself does not support that:

[code]

[2019-04-20 02:48] apjanke commented on #54
That "p" thing is no longer happening. Now the test is failing in `test2` at the same place it fails in Octave's own `test`, albeit with different values.

[code]

Closing as fixed.

[2019-04-20 02:48] #54 closed, assigned to apjanke

[2019-04-22 20:42] mtmiller opened #81 "regression: runtests2 error when called on a directory"
In testify 0.3.0, the following worked as expected when `inst` is a directory containing m-files

[code]

In testify 0.3.2, an error is raised

[code]

[2019-04-22 21:21] mtmiller commented on #81
Ok, this started with 91d8fe76e71a, which moves the new implementations in place, and apparently I now need to use `runtests2 -dir inst`. Is that right and expected? If so, please go ahead and close this.

[2019-04-23 11:24] apjanke commented on #81
Nope, that's a bug. I'll fix.

[2019-04-23 11:27] apjanke commented on #81
A bit more detail: the different functions for adding individual files, directories, and so on, are for Testify's internal use, to make execution paths more clear. The `-dir` option to runtests2 is mostly for debugging so I can invoke it directly from the command line and see how it behaves. When you specify something without an explicit `-dir` or other option, `runtests2` is supposed to automatic

[2019-04-23 11:53] #81 closed, assigned to apjanke

[2019-04-23 11:55] apjanke commented on #81
The problem was that the `add_target_auto` was checking the target to see whether it is a file or directory, and doing this:

[code]

forgetting that directories also count as `"file"`s.

I've fixed it by reversing the test order and doing the more-specific `"dir"` test first. (You could also fix it by checking `exist()`'s return value code, or writing a more-specific `exist_plain_file` function.)

[2019-04-23 18:15] mtmiller commented on #81
Yes, fix works perfectly

[2019-04-23 22:32] apjanke commented on #81
Rolled release [0.3.3](https://github.com/apjanke/octave-testify/releases/tag/v0.3.3) with this fix.

[2019-05-17 18:23] mtmiller opened #83 "Unexpected errors on files without tests"
Both `test2` and `runtests2` raise an error on certain types of files that have no tests in them. I hit this error when trying to use `runtests2` on [Pythonic](https://gitlab.com/mtmiller/octave-pythonic), and noticing the error when it hits .cc files without tests.

Simplest reproducible example is with empty files `testpkg/inst/foo.m` and `testpkg/src/foo.cc`.

[code]

With `runtests2`, the situ

[2019-05-17 18:26] mtmiller opened #84 "MultiBistRunner does not include .tst files"
Using `runtests2` on a directory of files ending with .tst extension, testify.internal.MultiBistRunner does not look at those files at all.

See for example Octave's top-level test directory.

[2019-05-17 19:03] mtmiller commented on #5
@apjanke [Octave#56325](https://savannah.gnu.org/bugs/?56325) was recently filed to add the Matlab `runtests` function to Octave. I have zero familiarity with the Matlab unit test framework, but it seems like they may be asking for part of the framework, possibly without knowing what they are asking for. If you know more, maybe add some insight there?

[2019-05-17 21:15] mtmiller opened #86 "BistRunner.restore_diary_state creates empty diary files"
The implementation of BistRunner.restore_diary_state restores the diary file name first, then sets the state to off or on. But setting the file name first turns the diary state on in Octave. If the state was off, this creates empty `diary` files in the working directory every time this method is called.

I can't test whether Matlab works this way or not, maybe there is a bug in Octave's diary func

[2019-05-17 21:37] mtmiller opened #87 "feature request: option to strip root directory from file names"
Current output

[code]

It would be nice to have an option to strip a common prefix from all file names. This would only be for the console output, the full output in the optional log file can keep the full file name. Or it can apply the filter to both if it's preferable to be consistent.

Example desired output

[code]

Option name ideas include base, elide, prefix, root, strip, or some combinati

[2019-05-17 23:44] apjanke commented on #86
Matlab works this way, too: doing `diary('some_string')` will both set the diary output file and turn on diary-ing.

This is a bug in Testify.

Luckily, Octave provides the `[state,file] = diary()` query form of `diary` to check its current state, so this will be an easy fix.

[2019-05-17 23:46] #84 closed, assigned to apjanke

[2019-05-18 00:07] apjanke commented on #5
Sure sounds like they are. I have commented on Savannah.

[2019-05-18 00:11] apjanke commented on #83
Welp, that's a bug. I think in all these cases, it should produce a PASS result with 0/0 tests passed. (Because a PASS result is by definition 0 "real" test failures.)

I suppose one could argue that an empty `.cc` file is not a valid C/C++ source file, so I suppose that could be an error, but I don't think the test code should be looking that closely at them; it should just try to extract test bl

[2019-05-18 00:17] mtmiller commented on #83
I would think just skip empty files or files that have no test content, right? At least for MultiBistRunner, files should just be silently skipped. For BistRunner, maybe you want to show every file that was explicitly tested.

Yeah, definitely not looking for an error on the C++ contents of the file, way out of scope. Just skip over files that have no Octave test content.

[2019-05-18 00:22] apjanke commented on #83
In line with Octave's current `runtests` behavior, it keeps a list of all the `.m` or `.cc` files which had no tests, emits a "???? file <foo> had no tests" message in the verbose log output, and includes them in the list of "files with no tests" in the results. I think `runtests`'s current goal is to nudge people closer to getting to 100% test coverage.

This should probably be adjusted for `priv

[2019-05-18 00:22] mtmiller opened #88 "new name for runtests2"
There seems to be consensus so far that it would be good to avoid the name `runtests` in Octave.

I think Testify should perhaps lead the way on what the new name should be, or just go its own way and not try to shadow whatever name Octave chooses with a `2` suffix now. I don't really like the idea of `oruntests`.

If you agree, what should the MultiBistRunner porcelain command be named now?

[2019-05-18 00:24] apjanke commented on #83
Fixed in https://github.com/apjanke/octave-testify/commit/d12a9951d6ed40824f222d09124759e552389b45.

After:

[code]

So, I _think_ those `runtests2` outputs should probably include a note about source files that had no tests. But we can handle that under a different issue if that should really be the behavior.

Can you confirm this fixes it for you?

[2019-05-18 00:34] mtmiller commented on #83
:+1: Works perfectly now

[2019-05-18 00:36] apjanke commented on #87
This should be doable. I'm already abbreviating the paths for files that are discovered under the Octave installation or under installed `pkg` packages. I could extend that for user-supplied paths.

I'd even say this should maybe be the default behavior, and not require an explicit `-prefix` option from the user?

Runtests2 accepts multiple paths as arguments. It could do some combination of the f

[2019-05-18 00:36] apjanke commented on #83
Great. Thanks for the report and confirmation.

[2019-05-18 00:36] #83 closed, assigned to apjanke

[2019-05-18 06:28] mtmiller commented on #87
Sure, that would be easiest on the user.

You might even want to have a format similar to `doctest`, which prints indented recursive output that looks like this by default

[code]

I could see the argument for showing a path relative to the package top-level directory even if you're in a subdirectory. Similar to how `git diff` shows the file name relative to the project root I suppose.

But for me

[2019-05-19 07:00] apjanke commented on #88
I think you're right.

I tend to think of the particular Octave-style tests as "BISTs", since that's what I've seen other people refer to them as in Savannah and mailing list discussions. So maybe `runbists()` or `runbisttests()`?

I have to admit that I'm still new enough to Octave programming that I haven't developed any "taste" for what makes a good or bad function name here.

[2019-05-19 18:05] mtmiller commented on #88
I think the name should be an umbrella for all types of tests, whether they are BISTs or not, unit tests, smoke tests, regression tests, integration tests, etc.

One smell that distinguishes Octave names from Matlab names is the use of underscores for long compound names, while Matlab tends to follow Java style camelCase.

A dump of some ideas in no particular order

- run_all_tests
- test_files
-

[2019-10-20 13:53] apjanke opened #90 "README usage examples are out of date"
The README hasn't been updated to reflect recent function names and signature changes. Fix this.

[2019-10-21 04:34] apjanke opened #91 "`runtests2 -pkg <pkgname>` should fail-fast if package is not loaded"
If you try to `runtests2 -pkg <pkgname>` a package that isn't loaded, you'll just get spurious errors:

[code]

Not helpful! And it blows up!

`runtests2 -pkg <foo>` should check whether `<foo>` is loaded, and if not, error out immediately with an explanatory message.

[2019-10-21 04:34] apjanke commented on #91
See https://github.com/octave-app/octave-app/issues/152, which was caused by this.

[2019-10-21 05:24] apjanke opened #92 "Wrong PASS count for testing netcdf package"
Under Octave.app 4.4.1-u1:

[code]

[2019-12-31 06:01] apjanke commented on #92
Ah. Looks like this is a problem with the `netcdf` package, in that it defines its tests in a nonstandard way. It wrote its tests in a `test_netcdf.m` function that contains a single test block:

[code]

Which calls its own custom test runner code:

[code]

So it's avoiding standard integration with Octave's normal test framework.

I'm going to call this an upstream problem or quirk of the `netcdf

[2019-12-31 06:01] #92 closed, assigned to apjanke

[2019-12-31 06:22] apjanke commented on #90
Fixed in https://github.com/apjanke/octave-testify/commit/26f45feb4f4d0c5cdc43d8dc6edca1ef6071112f

[2019-12-31 06:22] #90 closed, assigned to apjanke

[2019-12-31 06:37] apjanke commented on #64
Or maybe Testify should optionally support, but not require, Packajoozle. And it should use `pkg`/`pkj` just for discovery of where the tested packages are located, but not do any package installation itself. Then, conversely, Packajoozle, which knows more about its "world" setup and the ability to do isolated package installations, could optionally support, but not require, Testify, and it could

[2019-12-31 06:47] apjanke commented on #86
I believe this is fixed in https://github.com/apjanke/octave-testify/commit/abbd9e1f548d8657592f39f2da0539a35bb1b3ef. I could see the error in the old diary-state-restoration logic. And with the new fix, I'm no longer getting empty `diary` file droppings in the working directory.

[2019-12-31 06:47] #86 closed, assigned to apjanke

[2019-12-31 06:51] apjanke commented on #46
So, I think this probably looks like folding all the functionality into `runtests2`, eliminating `test2`, and providing additional options to control the verbosity of both the console and log file outputs (independently), and an option to not produce a log file at all. Because, I think, the difference between `test` and `runtests` is that `test` runs tests on a single file, and displays verbose ou

[2019-12-31 07:00] apjanke commented on #5
Okay, I think I'm going to try this. It'll be a kinda large effort – the Matlab Unit Testing framework is large-ish, like fifty classes – but this would be a distinctive feature that could help get users interested in adopting Testify.

Luckily, the Matlab Unit Testing API is very granular in its class/interface definitions, so it won't be hard to figure out what to do just from the public class d

[2020-01-05 05:12] apjanke commented on #5
Note to self: I talked to jwe in the #octave Freenode channel, and he says that Octave does not support classdef Events. (It parses them, but they're ignored and there's no functionality for them.) The Matlab Unit Testing API is partially defined in terms of classdef Events, so we won't be able to mimic it exactly.

No big deal. It won't be hard to rig up event-handling functionality using regular

[2020-01-05 12:20] apjanke opened #93 "Document where test output goes"
dougstew from #octave freenode IRC tried this out, and had to ask where to find test results. This is a documentation flaw: we should tell users where to expect to find test results, especially in the README/basic doco.

Fix this.

[2020-01-05 12:55] doug1946 opened #94 "Runtests2 () ended with a file not found error."
My sytsem is
Ubuntu 18.04
Octave stable  compiled at
[code]
I believe this is the latest.

Here is the end of the output:

[code]

[2020-01-05 12:58] apjanke commented on #94
Oh crap, that's not right! Even if there's an error in the underlying test code, `runtest2` should be protecting against that, and forwarding it off to a later test summary result.

I'll get on this when I have some spare time tomorrow.

Thanks for the bug report!

[2020-01-05 15:17] doug1946 commented on #94
I tried to do some digging and found this:
1) I ran  runtests2 ("specfun")    and it did not report "file" undefined
2) I ran runtests2("cosint.m") and again did not report "file" undefined
3) i then tried to find an output file to see where the fails were but have not found and results log files.

[2020-02-15 02:51] apjanke opened #95 "Pre-5.0 shims getting loaded in Octave 5.2?"
[code]

[2020-02-15 02:54] apjanke opened #96 "Lousy error message when trying `runtests2 -pkg` on non-installed package"
[code]

[2020-02-15 03:05] mtmiller commented on #95
Only during the install step, `pkg` builds a cache of all docstrings. Looks like it uses `genpath` on the entire package directory, so it will find all m files in all subdirectories.

https://github.com/mtmiller/octave/blob/master/scripts/pkg/private/install.m#L815

[2020-02-15 03:09] apjanke commented on #95
Aha. Thanks. I'll look in to that and maybe file an upstream bug report.

[2020-02-15 18:31] mtmiller commented on #95
I support fixing this in `pkg` (or in `pkj` :wink:). I think your runtime conditional to set the load path is valid and should be supported, even if other packages currently do this kind of thing at build time.

[2020-02-15 21:22] mtmiller commented on #95
I reported [Octave #57826](https://savannah.gnu.org/bugs/?57826).

[2020-05-29 08:05] apjanke commented on #94
Here's what I get when trying to test `cosint` using the latest Testify:

[code]

That's not right. It should be able to find the function in both cases, and not issue warnings in either case.

[2020-09-28 18:40] apjanke commented on #5
The BIDS-Matlab folks are interested in maybe using this. Bumping up the priority on it.